<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476821295329-lrk66ndnvji6b68oh9efj4bt0mq1p2vc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476821295329-lrk66ndnvji6b68oh9efj4bt0mq1p2vc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>476821295329-sjt4s51mmhe63cuk5tal9vgmkght2qsl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBW0xX3vPTRslP6mltfUkpF43R-Z3xgf_U</string>
	<key>GCM_SENDER_ID</key>
	<string>476821295329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AC2-Mobile</string>
	<key>PROJECT_ID</key>
	<string>ac2-mobile-36d80</string>
	<key>STORAGE_BUCKET</key>
	<string>ac2-mobile-36d80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476821295329:ios:643edcde602655f02267a0</string>
	<key>DATABASE_URL</key>
	<string>https://ac2-mobile-36d80-default-rtdb.firebaseio.com</string>
</dict>
</plist>